#------------------------------------------------------------------#
#------------- LOCAL CONFIGURATION OVERRIDES (local.cfg) ----------#
#------------------------------------------------------------------#
# Harare Polytechnic Institutional Repository
#------------------------------------------------------------------#

##########  Site identity  #########################################
dspace.name      = Harare Polytechnic DSpace
dspace.shortname = HPoly-DSpace

# Local PC access URLs
dspace.server.url     = http://hrepolyREP:8080/server
dspace.server.ssr.url = ${dspace.server.url}
dspace.ui.url         = http://192.168.26.3:4000

##########  Database  ##############################################
db.url      = jdbc:postgresql://dspacedb:5432/dspace
db.username = dspace
db.password = ${POSTGRES_PASSWORD}
db.cleanDisabled = true

##########  Solr  ##################################################
solr.server = http://dspacesolr:8983/solr

##########  Email / SMTP  ##########################################
# TODO: configure your SMTP relay when ready to send emails
mail.server      = localhost
mail.server.port = 25
mail.from.address = noreply@harare-polytechnic.ac.zw
feedback.recipient = repository@harare-polytechnic.ac.zw
mail.admin         = repository@harare-polytechnic.ac.zw
mail.admin.name    = Harare Polytechnic Repository Administrator
mail.helpdesk      = repository@harare-polytechnic.ac.zw
mail.helpdesk.name = Harare Polytechnic Repository Help Desk
alert.recipient    = repository@harare-polytechnic.ac.zw

##########  Handle server  #########################################
# TODO: Register a real prefix at https://www.handle.net/
handle.prefix = 123456789

##########  Branding  ##############################################
webui.preview.brand        = Harare Polytechnic
webui.preview.brand.abbrev = HPoly

##########  DataCite crosswalk  ####################################
crosswalk.dissemination.DataCite.publisher = Harare Polytechnic

##########  CORS allowed origins  ##################################
rest.cors.allowed-origins = http://192.168.26.3:4000

##########  Proxy  #################################################
proxies.trusted.ipranges = 172.24.0
